Transformacion

In [1]:
#Importar las librerias que voy a utilizar 
import pandas as pd

In [2]:
# Cargar cada uno de los csv  
amazon_prime = pd.read_csv("amazon_prime_titles.csv", encoding="utf-8", sep=",") 
disney = pd.read_csv("disney_plus_titles.csv", encoding="utf-8", sep=",") 
hulu = pd.read_csv("hulu_titles.csv", encoding="utf-8", sep=",") 
netflix = pd.read_csv("netflix_titles.csv", encoding="utf-8", sep=",")

FileNotFoundError: [Errno 2] No such file or directory: 'amazon_prime_titles.csv'

In [ ]:
#   
amazon_prime["id"] = "a" + amazon_prime["show_id"] 
disney["id"] = "d" + disney["show_id"] 
hulu["id"] = "h" + hulu["show_id"]  
netflix["id"] = "n" + hulu["show_id"]

In [ ]:
amazon_prime = amazon_prime.drop(columns=["show_id"]) 
disney = disney.drop(columns=["show_id"]) 
hulu = hulu.drop(columns=["show_id"]) 
netflix = netflix.drop(columns=["show_id"])

In [ ]:
# Ahora voy a cambiar las columnas para que Id este primero  
amazon_prime.columns 
amazon_prime = amazon_prime.reindex(columns=["id", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description","type"])  
disney = disney.reindex(columns=["id", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description", "type"]) 
hulu = hulu.reindex(columns=["id", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description", "type"]) 
netflix = netflix.reindex(columns=["id", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description" ,"type"])

In [ ]:
#remplazo los valores nulos del campo "rating" por la letra "G" 
amazon_prime["rating"] = amazon_prime["rating"].fillna("G") 
disney["rating"] = disney["rating"].fillna("G") 
hulu["rating"] = hulu["rating"].fillna("G") 
netflix["rating"] = netflix["rating"].fillna("G")

In [ ]:
# Cambio la fecha al formato AAAA-mm-dd 
# Primero convierto la columna "date_added" a tipo datetime 
amazon_prime["date_added"] = pd.to_datetime(amazon_prime["date_added"]) 
amazon_prime["date_added"] = amazon_prime["date_added"].dt.strftime("%Y-%m-%d") 
disney["date_added"] = pd.to_datetime(disney["date_added"]) 
disney["date_added"] = disney["date_added"].dt.strftime("%Y-%m-%d") 
hulu["date_added"] = pd.to_datetime(hulu["date_added"])  
hulu["date_added"] = hulu["date_added"].dt.strftime("%Y-%m-%d")  
netflix["date_added"] = pd.to_datetime(netflix["date_added"])  
netflix["date_added"] = netflix["date_added"].dt.strftime("%Y-%m-%d")

In [ ]:
#Convierto Los campos de texto deberán estar en minúsculas   
amazon_prime = amazon_prime.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
disney = disney.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
hulu = hulu.apply(lambda x: x.str.lower() if x.dtype == "object" else x) 
netflix = netflix.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

In [ ]:
# Convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas) 
# Divido la columna duration en dos columnas 
amazon_prime[["duration_int", "duration_type"]] = amazon_prime["duration"].str.split(" ", expand=True)  
disney[["duration_int", "duration_type"]] = disney["duration"].str.split(" ", expand=True)  
hulu[["duration_int", "duration_type"]] = hulu["duration"].str.split(" ", expand=True)  
netflix[["duration_int", "duration_type"]] = netflix["duration"].str.split(" ", expand=True) 
# Convierto duration_int a integer. Pero antes voy a tener que cambiar los NaN en 0 para poder convertirlos en INT
amazon_prime["duration_int"].fillna(0, inplace=True)
amazon_prime["duration_int"] = amazon_prime["duration_int"].astype(int)  
disney["duration_int"].fillna(0, inplace=True) 
disney["duration_int"] = disney["duration_int"].astype(int)  
hulu["duration_int"].fillna(0, inplace=True) 
hulu["duration_int"] = hulu["duration_int"].astype(int)  
netflix["duration_int"].fillna(0, inplace=True) 
netflix["duration_int"] = netflix["duration_int"].astype(int) 
# Elimino la columna original duration 
amazon_prime.drop("duration", axis=1, inplace=True) 
disney.drop("duration", axis=1, inplace=True) 
hulu.drop("duration", axis=1, inplace=True) 
netflix.drop("duration", axis=1, inplace=True)

In [ ]:
# Concateno los 4 df(amazon,disney,hulu y netflix) en un solo dataframe  
plataformas = pd.concat([amazon_prime, disney, hulu, netflix], axis=0) 
#Ahora lo que hago es restablecer los indices del dataframe resultante   
plataformas.reset_index(drop=True, inplace=True)

In [ ]:
#Por ultimo voy a crear un csv con ese dataframe concatenado 
plataformas.to_csv("plataformas.csv", index=True)

In [ ]:
plataformas

,id,title,director,cast,country,date_added,release_year,rating,listed_in,description,type,duration_int,duration_type
0,as1,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,movie,113,min
1,as2,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,movie,110,min
2,as3,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,movie,74,min
3,as4,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",movie,69,min
4,as5,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,movie,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,NaN,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",movie,158,min
22994,NaN,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",tv show,2,seasons
22995,NaN,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,movie,88,min
22996,NaN,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",movie,88,min
22997,NaN,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,movie,111,min

Ya tengo creado el csv plataformas, ahora debo llamar a los csv de ratings para luego crear la columna score

In [ ]:
# Cargo los csv de ratings 
df1 = pd.read_csv("ratings/1.csv") 
df2 = pd.read_csv("ratings/2.csv") 
df3 = pd.read_csv("ratings/3.csv") 
df4 = pd.read_csv("ratings/4.csv") 
df5 = pd.read_csv("ratings/5.csv") 
df6 = pd.read_csv("ratings/6.csv") 
df7 = pd.read_csv("ratings/7.csv") 
df8 = pd.read_csv("ratings/8.csv")

In [ ]:
# Concateno los 8 csv 
rating = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])

In [ ]:
# Creo un nuevo dataframe, agrupando el df de raiting por la columna "movieId" teniendo en cuenta que el indice del dataframe no se establezca como la columna agrupada  
# Luego un mean(promedio) de la columna rating en base a los agrupados y un round para redondear el numero despues de la , a 1. 
raiting_grouped = round(rating.groupby("movieId", as_index=False)["rating"].mean(),1)

In [ ]:
# Cambio el nombre de la columna rating a score 
raiting_grouped = raiting_grouped.rename(columns={"rating": "scored"})

In [ ]:
#Uno con un merge dentro del df_plataforma y df_grouped con las columna ID a la izquierda y la columna movieId a la derecha. 
plataformas = pd.merge(plataformas , raiting_grouped, left_on='id',right_on='movieId')
rating_grouped = raiting_grouped.rename(columns={'rating': 'scored'})

In [ ]:
#Elimino la columna movieId que ya no la necesito porque lo tengo en Id
plataformas.drop("movieId", axis=1, inplace=True)

In [ ]:
#En esta parte tube que hacer un to_csv para guardar la columna nueva scored en el dataframe plataformas
plataformas.to_csv("plataformas.csv", index=True)

In [ ]:
# Confirmo de que el dataframe este en condiciones para comenzar con las funciones 
plataformas

,id,title,director,cast,country,date_added,release_year,rating,listed_in,description,type,duration_int,duration_type,scored
0,as1,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,movie,113,min,3.5
1,as2,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,movie,110,min,3.5
2,as3,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,movie,74,min,3.5
3,as4,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",movie,69,min,3.5
4,as5,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,movie,45,min,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17259,ns3069,pan's labyrinth,guillermo del toro,"ivana baquero, sergi lópez, maribel verdú, dou...","mexico, spain",2020-01-01,2006,r,"dramas, international movies, sci-fi & fantasy",young ofelia meets a mythical faun who claims ...,movie,119,min,3.5
17260,ns3070,pokémon the movie: power of us,tetsuo yajima,"gim yeong-seon, ikue otani, o inseong, i sen-h...",japan,2020-01-01,2018,tv-y7,"anime features, children & family movies",ash and pikachu journey to fula city for its w...,movie,98,min,3.5
17261,ns3071,posesif,edwin,"putri marino, adipati dolken, gritte agatha, c...",indonesia,2020-01-01,2017,tv-ma,"dramas, international movies, romantic movies",a student diver risks her scholastic future an...,movie,102,min,3.5
17262,ns3072,reply 1988,NaN,"lee hye-ri, park bo-gum, ryu jun-yeol, ko kyou...",south korea,2020-01-01,2015,tv-14,"international tv shows, korean tv shows, roman...",take a nostalgic trip back to the late 1980s t...,tv show,1,season,3.5
17263,ns3073,riot,john lyde,"matthew reese, dolph lundgren, danielle chuchr...",NaN,2020-01-01,2015,tv-ma,action & adventure,"seeking vengeance for the murder of his wife, ...",movie,88,min,3.6